@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  height: 100vh;
  font-family: $font-main;
  
  font-weight: 400;

  // background-color: $color-white;
  background: rgb(34,78,195);
background: linear-gradient(137deg, rgba(34,78,195,1) 0%, rgba(174,82,255,1) 100%);


  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* ============== BUTTON ============== */

.button {
}

/* ============== /BUTTON ============== */

/* ============== BURGER ============== */

/* ============== /BURGER ============== */
